<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon"
    href="https://img.alicdn.com/imgextra/i4/O1CN01dvFN0j1e2rYBJpJGJ_!!6000000003814-2-tps-2048-2048.png_240x240.jpg" />
  <title>
    <%= title %>
  </title>
  <style>
    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }

    * {
      margin: 0;
    }

    body {
      line-height: 1.5;
      -webkit-font-smoothing: antialiased;
    }

    img,
    picture,
    video,
    canvas,
    svg {
      display: block;
      max-width: 100%;
    }

    input,
    button,
    textarea,
    select {
      font: inherit;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      overflow-wrap: break-word;
    }
  </style>
  <style>
    article {
      font-family: 'Georgia', serif;
      max-width: 800px;
      margin: 0 auto;
      padding: 0 20px;
      line-height: 1.6;
      color: #333;
    }

    article h1,
    article h2,
    article h3,
    article h4,
    article h5,
    article h6 {
      font-family: 'Arial', sans-serif;
      margin-top: 1.5em;
      margin-bottom: 0.5em;
    }

    article h1 a,
    article h2 a,
    article h3 a,
    article h4 a,
    article h5 a,
    article h6 a {
      color: #666;
      display: none;
    }

    /* article h1:hover a, */
    article h2:hover a,
    article h3:hover a,
    article h4:hover a,
    article h5:hover a,
    article h6:hover a {
      display: inline-block;
    }

    article h1 {
      font-size: 2em;
    }

    article h2 {
      font-size: 1.75em;
    }

    article h3 {
      font-size: 1.5em;
    }

    article p {
      margin-bottom: 1em;
    }

    article a {
      color: #1a0dab;
      text-decoration: none;
    }

    article a:hover {
      text-decoration: underline;
    }

    article img {
      max-width: 100%;
      height: auto;
    }

    article ul,
    article ol {
      margin-left: 20px;
      padding-left: 0;
      margin-bottom: 1em;
    }

    article blockquote {
      font-style: italic;
      margin: 1em 0;
      padding: 0.5em 1em;
      border-left: 0.25em solid #ccc;
      background-color: #f8f8f8;
    }

    article code {
      font-family: Menlo, monospace;
      background-color: #f4f4f4;
      padding: 2px 4px;
      border-radius: 3px;
      font-size: 0.8em;
    }

    article pre {
      font-family: Menlo, monospace;
      /* why !important? since shikiji will generate inline style background */
      background: #f4f4f4 !important;
      padding: 12px 20px;
      font-size: 0.8em;
      border-radius: 3px;
      margin-bottom: 1em;
      overflow: auto;
    }

    article pre>code {
      padding: 0;
      border-radius: 0;
      font-size: 1em;
    }

    article hr {
      border: none;
      border-top: 1px solid #ccc;
      margin: 1em 0;
    }
  </style>
  <style>
    body {
      font: 16px/140% sans-serif;
      overflow-y: scroll;
    }

    a {
      color: #1a0dab;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  </style>
  <style>
    main {
      max-width: 960px;
      margin: 0 auto;
      display: flex;
    }

    aside {
      width: 200px;
    }

    aside a {
      color: #000;
    }

    nav {
      position: sticky;
      top: 60px;
    }

    nav ul {
      list-style: none;
      padding: 0;
    }

    nav ul>li {
      font-weight: bold;
      margin-bottom: 10px;
    }

    nav ul ul {
      padding-left: 10px;
    }

    nav ul ul>li {
      font-weight: normal;
      font-size: 0.9em;
      margin-bottom: 0;
    }

    header {
      margin-bottom: 40px;
    }

    header h1 a {
      font-size: 1.5rem;
      display: flex;
      line-height: 30px;
    }

    header h1 a img {
      width: 30px;
      height: 30px;
      margin-right: 8px;
      border-radius: 50%;
      vertical-align: middle;
    }

    article {
      flex: 1;
    }

    footer {
      border-top: 1px solid #ccc;
      margin: 2em 0;
      padding: 1em 0;
      text-align: center;
    }
  </style>
</head>

<body>

  <main>
    <aside>
      <nav>
        <header>
          <h1>
            <a href="/">
              <img src="https://img.alicdn.com/imgextra/i2/O1CN01kdmA7X1FVqCPcRi3L_!!6000000000493-2-tps-584-584.png" />
              <span>Mako</span>
            </a>
          </h1>
        </header>
        <ul>
          <li>
            <a href="/getting-started">Getting Started</a>
            <ul>
              <li><a href="/getting-started#install-mako">Install mako</a></li>
              <li><a href="/getting-started#your-first-bundle">Your first bundle</a></li>
              <li><a href="/getting-started#bundle-with-react">Bundle with react</a></li>
              <li><a href="/getting-started#bundle-with-umi">Bundle with umi</a></li>
            </ul>
          </li>
          <li><a href="/config">Config</a></li>
          <li>
            <a href="/faq">FAQ</a>
            <ul>
              <li><a href="/faq#does-mako-support-windows%3F">Does Mako support Windows?</a></li>
              <li><a href="/faq#open-source">Open Source</a></li>
              <li><a href="/faq#how-to-ask-questions%3F">How to ask questions?</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </aside>
    <article>
      <%- content %>
        <footer>
          Copyright © 2024-present
        </footer>
    </article>
  </main>

</body>

</html>
